/* // Variables */
:root {
    --white: #fff;
    --black: #121212;
    --primary-color: #a66;
    --text-color: #242424;
    --secondary-color: #ffeaea;
    --neutral-color: #faeeee;
    --font-size: 20px;
    --font-size-sm: 16px;
    --line-width: 4px;
    --line-width-sm: 2px;
    --space: 1rem;
    --space-sm: 0.5rem;
    --space-xs: 0.25rem;
    --duration: 1.5s;
    --duration-sm: 1s;
}

/* // Reset */
* {
    box-sizing: border-box;
}

/* // General */
html {
    font-family: monospace;
    font-size: var(--font-size);
    background-color: var(--neutral-color);
    scroll-behavior: smooth;
}

body {
    color: var(--text-color);
    max-width: 80%;
    margin: 0;
    margin-inline: auto;
    overflow-x: hidden;
    overflow-y: auto;
    transition: opactity var(--duration);
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: var(--primary-color);
    transition: all var(--duration);
}

a:hover {
    text-decoration: none;
    transition: all var(--duration);
}

ul {
    list-style: circle;
}

form {
    width: 50%;
    animation-duration: var(--duration);
    margin-inline-end: auto;
    animation-name: slide-in-left;
    animation-duration: var(--duration);
    animation-timeline: view();
    animation-range-end: exit;
    animation-range-start: -20px;
}

::marker {
    color: var(--primary-color);
}

label {
    font-size: 0.9rem;
    font-weight: 700;
    display: block;
    margin-block-start: var(--space);
    margin-block-end: var(--space-sm);
}

input,
textarea {
    width: 100%;
    padding: var(--space-sm);
    border: var(--line-width-sm) solid var(--primary-color);
    font-family: monospace;
    background-color: var(--neutral-color);
    font-size: 1rem;
}

input[type="submit"] {
    margin-block-start: var(--space);
    margin-block-end: var(--space-sm);
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: 1rem;
    color: var(--text-color);
}

input:focus,
textarea:focus {
    outline: none;
    border: var(--line-width-sm) solid var(--primary-color);
    background-color: var(--white);
}

input[type="submit"]:focus {
    color: var(--white);
    background-color: var(--primary-color);
}

input[type="submit"]:hover {
    color: var(--white);
    background-color: var(--primary-color);
    transition: all var(--duration);
}

button {
    padding: var(--space-sm);
    background-color: var(--primary-color);
    font-weight: 700;
    font-size: var(--font-size-sm);
    color: var(--white);
    border: var(--line-width-sm) solid var(--secondary-color);
    cursor: pointer;
}

main>section {
    padding: 2rem;
}

/* // Effects */
.scroll-indicator {
    background-color: var(--primary-color);
    block-size: 100%;
    inline-size: calc(var(--line-width) * 4);
    position: fixed;
    z-index: 10;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

.scroll-indicator:nth-child(odd) {
    left: 0;
    transform-origin: top;
    scale: 1 0;
}

.scroll-indicator:nth-child(even) {
    right: 0;
    transform-origin: bottom;
    scale: 1 0;
}

/* // Splash Screen */
#splashscreen {
    padding: var(--space-sm);
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    gap: var(--space);
}

#splashscreen a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splashscreen h1 {
    text-align: center;
}

#splashscreen img {
    width: 75%;
    height: 75%;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: var(--space-xs);
}

#splashscreen h1,
#splashscreen h2,
#splashscreen p {
    text-align: center;
}

#splashscreen div {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splashscreen a:last-child {
    cursor: pointer;
    padding: var(--space-sm);
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    transition: all var(--duration);
}

#splashscreen a:last-child:hover {
    color: var(--white);
    background-color: var(--primary-color);
    transition: all var(--duration);
}

/* // Header */
header {
    border-block-start: var(--line-width) solid var(--primary-color);
    text-align: center;
    padding: var(--space);
}

header img {
    /* border-radius: 50%; */
    max-width: 80px;
    max-height: 80px;
}

header>a {
    text-decoration: none;
    color: var(--text-color);
}

header h1 {
    margin: 0;
    margin-block-start: var(--space-sm);
    font-size: 1.5rem;
}

header address {
    font-size: 0.9rem;
}

/* // Nav */
nav {
    border-block-start: var(--line-width) solid var(--primary-color);
    display: flex;
    margin-block: var(--space-sm);
    gap: var(--space-sm);
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    flex: 1;
    cursor: pointer;
    padding-inline: var(--space-sm);
    padding-block: 0.7rem;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
    font-size: 1.1rem;
    border: 1px solid var(--secondary-color);
    transition: all var(--duration);
}

nav a:hover,
nav a:active,
nav a:focus {
    color: var(--white);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    outline: none;
}

.active {
    color: var(--white);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    outline: none;
}

/* // Hero */
#hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "body img";
    gap: var(--space);
}

#hero div {
    grid-area: body;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero img {
    grid-area: img;
    max-width: 100%;
    position: relative;
    animation-name: img-exit-grow;
    animation-duration: var(--duration);
    animation-timeline: view();
    animation-range-end: exit;
    animation-range-start: -20px;
}

/* // About */
#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space);
}

#about img {
    max-width: 100%;
    animation-name: img-exit-grow;
    animation-duration: var(--duration);
    animation-timeline: view();
    animation-range-end: exit;
    animation-range-start: -20px;
}

#about div {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* // How I build your business */
#how-i-build ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-xs);
}

#how-i-build li {
    border: 1px solid var(--neutral-color);
    background: var(--secondary-color) url(images/true-web-development-black-and-white.svg) no-repeat top right / contain;
    padding: var(--space);
    animation-name: img-exit-fade;
    animation-duration: var(--duration);
    animation-timeline: view();
    animation-range-start: -50px;
    animation-range-end: exit;
}

#how-i-build h3,
#how-i-build p {
    max-width: 75%;
    background-color: var(--neutral-color);
    padding: var(--space-sm);
    color: var(--primary-color);
    animation-name: slide-in-left;
    animation-duration: var(--duration);
    animation-timeline: view();
    animation-range-start: -50px;
    animation-range-end: exit;
}

#how-i-build strong {
    color: var(--text-color);
}

/* // Skills */
#skills>ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--space-xs);
    padding: 0;
}

#skills h3 {
    margin-block-end: var(--space);
    background-color: var(--primary-color);
    padding: var(--space-sm);
    color: var(--white);
    margin: 0;
}

#skills h3+ul {
    background-color: var(--secondary-color);
    padding-block: var(--space);
}

/* // Work */
#work h2 {
    margin-block-end: var(--space);
}

#work>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(25vh, auto);
    gap: var(--space-xs);
}

#work article {
    padding: var(--space-sm);
}

#work img {
    max-width: 100%;
    max-height: 50%;
    animation-name: img-exit-shrink;
    animation-duration: var(--duration);
    animation-timeline: view();
    animation-range-end: exit;
    animation-range-start: -20px;
}

#work h3 {
    margin-block-start: var(--space-sm);
}

#work article:hover h3 {
    color: var(--primary-color);
    text-decoration: underline;
    transition: all var(--duration);
}

/* // Contact */
#contact {
    position: relative;
    background: url(images/true-web-development-black-and-white.svg) no-repeat center right / contain;
}

#contact .feedback {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 0;
    box-sizing: border-box;
    padding: var(--space);
    margin-inline: 0;
    margin-block: var(--space);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: var(--font-size-sm);
    transition: all var(--duration);
}

#contact .feedback {
    font-size: var(--font-size);
}

#contact hr {
    color: var(--primary-color);
    background-color: var(--primary-color);
    border: var(--line-width-sm) solid var(--primary-color);
}

/* // Footer */
footer {
    border-block-start: var(--line-width-sm) solid var(--primary-color);
    background-color: var(--secondary-color);
    padding: var(--space);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 0.8rem;
    margin-block: var(--space-xs);
}

footer address {
    display: flex;
    gap: calc(var(--space) * 3);
}

/* // Tab */
@media screen and (max-width: 850px) {

    /* // General Tab */
    html {
        font-size: var(--font-size-sm);
    }

    body {
        max-width: 100%;
    }

    form {
        width: 75%;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
    }

    /* // Hero Tab */
    #hero {
        grid-template-columns: 1fr;
        grid-template-areas: "body" "img";
    }

    #hero img {
        max-width: 75%;
        max-height: 50vh;
        object-fit: cover;
        margin-inline-start: auto;
    }

    /* // About Tab */
    #about {
        display: grid;
        grid-template-columns: 1fr;
    }

    #about img {
        grid-row: 2 / span 1;
        max-width: 75%;
        max-height: 50vh;
        object-fit: cover;
        margin-inline: auto;
    }

    /* // How I build your business Tab */

    #how-i-build ul {
        grid-template-columns: 1fr;
    }

    #how-i-build h3,
    #how-i-build p {
        max-width: 100%;
    }

    /* // Skills Tab */

    #skills>ul {
        grid-template-columns: 1fr 1fr;
    }

    /* // Work Tab */

    #work>div {
        grid-template-columns: 1fr;
    }

    /* // Label Tab */
    label {
        align-self: flex-start;
    }

    /* // Effects */
    .scroll-indicator {
        inline-size: var(--line-width);
    }
}

/* // Mobile */
@media screen and (max-width: 400px) {

    /* // Splash screen */
    #splashscreen {
        box-sizing: border-box;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        gap: var(--space);
    }

    #splashscreen h1 {
        text-align: center;
    }

    #splashscreen div {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* // General Mobile */
    form {
        width: 100%;
    }

    /* // Skills */
    #skills>ul {
        grid-template-columns: 1fr;
        row-gap: var(--space-sm);
    }

    /* // Effects */
    .scroll-indicator {
        inline-size: var(--line-width-sm);
    }
}

/* // Animations */

/* // Scroll Indicator */
@keyframes scroll-watcher {
    to {
        scale: 1 1;
    }
}

/* // Image Exit Grow */
@keyframes img-exit-grow {
    0% {
        scale: 1;
        opacity: 0.8;
    }

    50% {
        scale: 1;
        opacity: 1;
    }

    100% {
        scale: 1.5;
        opacity: 0.3;
    }
}

/* // Image Exit Shrink */
@keyframes img-exit-shrink {
    0% {
        scale: 1;
        opacity: 1;
    }

    50% {
        scale: 1;
        opacity: 1;
    }

    100% {
        scale: 0.5;
        opacity: 0.3;
    }
}

/* // Image Exit Grow */
@keyframes img-exit-fade {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.2;
    }
}

/* // Slide In */
@keyframes slide-in-left {
    0% {
        transform: translateX(150vw);
        opacity: 0.6;
    }

    25% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
    }

    75% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translate(-150vw);
        opacity: 0.4;
    }
}

@media (prefers-reduced-motion) {
    :root {
        --duration: 2.0s;
        --duration-sm: 1.5s;
    }
}